@page
@model LoginModel

@{
    ViewData["Title"] = "LOGIN";
}


<div class="row">
    <div class="col-md-4" style="width: 100%; height: 100vh;">
        <section>
            <form id="account" method="post" style="display: flex; flex-direction: row;" class="text-white">
                <div style="width: 50%; display: flex; flex-direction: column; justify-content: center; align-content: center; height: 100vh; margin-left:20px">
                    <h1 style="font-weight: bolder;font-size: 60px;">@ViewData["Title"]</h1>
                    <h2 class="text-white" style="font-weight: lighter;font-size: 40px;">Use uma conta local para fazer login. </h2><div class="col-md-6 col-md-offset-2">
                        <section>
                            <h3>Use outro serviço para fazer login.</h3>
                            <hr />
                            @{
                                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                {
                                    <div>
                                        <p>
                                            Não há serviços de autenticação externos configurados. Veja isso <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                                artigo
                                                sobre como configurar este aplicativo ASP.NET para oferecer suporte ao login por meio de serviços externos
                                            </a>.
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        <div>
                                            <p>
                                                @foreach (var provider in Model.ExternalLogins!)
                                                {
                                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                }
                                            </p>
                                        </div>
                                    </form>
                                }
                            }
                        </section>
                    </div>
                </div>

                <hr />
                <div style="width: 50%; display: flex; flex-direction: column; justify-content: center; align-content: center; height: 100vh; margin-right:20px">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder=" " />
                        <label asp-for="Input.Email" class="control-label text-dark">Email:</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder=" " />
                        <label asp-for="Input.Password" class="control-label text-dark">Senha:</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="checkbox mb-3">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary mb-2">Entrar</button>
                    </div>
                    <div>
                        <p>
                            <a asp-page="./Register" class="btn w-100 btn-secondary mb-2 btn-lg" asp-route-returnUrl="@Model.ReturnUrl">Registrar-se</a>
                        </p>

                        <div style="display: flex; flex-direction: row; justify-content: space-around">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                            </p>

                            <p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar e-mail de confirmação</a>
                            </p>
                        </div>

                    </div>
                </div>

            </form>
        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
